:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);   
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --font-size: 32px;
    --family:"Poppins", serif;
    --font-weight-s: 400;
    --font-weight-m: 700;
    --font-weight-l: 800;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*{
    margin:0;
    padding: 0;
}
body{
    background-color: var(--Off-white);
   
margin: 0;
padding:0;
overflow: hidden;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--family);
    flex-direction: column;
    gap:10px;
}
.card{
    width: 50vw;
    height: 70vh;
    border-radius: 5% 5% 40% 5%;
    background-color: var(--White);
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
 cursor: pointer;
}
.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    font-weight: var(--font-weight-l);
}
.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    height: 100%;
    gap:5px;
}
.field input{
    width: 70%;
    height: 30px;
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    padding: 10px;
    font-size: var(--font-size);
    font-family: var(--family);
    font-weight: var(--font-weight-s);
color: var(--Off-black);
outline-color: var(--Smokey-grey);
 
}

.field label{
font-size: 0.9rem;
font-weight: var(--font-weight-s);
color: var(--Smokey-grey);
}
.logo-container{
    padding-top: 40px;
    position: relative;
}
.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0px;
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--Off-black);
    border-radius: 50%;
}
.bar{
    width:100%;
    height: 2px;
    background-color: var(--Light-grey);
}
.date-cal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    line-height: 1;
   font-size: var(--font-size);

   font-weight: var(--font-weight-l);
}
.date-cal span{
    color: var(--Purple);
   
}
@media screen and (max-width: 1020px){
    .card{
        width: 80vw;
        height: 80vh;
        padding: 30px;
    }
    .input-field{
     
        width: 100%;
        gap:5px;
    }
    .logo{
       
        top: 8px;
        
    }
    
}
@media screen and (max-width: 767px){
    .card{
        width: 60vw;
        height: 70vh;
        padding: 30px;
    }
   
    .logo{
        width: 50px;
        height:50px;
        right: 33%;
        top:15px;
    }
    .logo img{
        width: 20px;
        height: 20px;   
    }
    .date-cal{
        font-size: 17px;
        margin-top:45px;
    }
}